materiais-local-2026-09-30/**/*.zip filter=lfs diff=lfs merge=lfs -text
materiais-local-2026-09-30/**/*.ifc filter=lfs diff=lfs merge=lfs -text
materiais-local-2026-09-30/**/*.rvt filter=lfs diff=lfs merge=lfs -text
materiais-local-2026-09-30/**/*.rfa filter=lfs diff=lfs merge=lfs -text
materiais-local-2026-09-30/**/*.pla filter=lfs diff=lfs merge=lfs -text
materiais-local-2026-09-30/**/*.dll filter=lfs diff=lfs merge=lfs -text
materiais-local-2026-09-30/**/*.exe filter=lfs diff=lfs merge=lfs -text
materiais-local-2026-09-30/**/*.tbp filter=lfs diff=lfs merge=lfs -text
materiais-local-2026-09-30/**/*.FCStd filter=lfs diff=lfs merge=lfs -text
materiais-local-2026-09-30/**/*.pdf filter=lfs diff=lfs merge=lfs -text
materiais-local-2026-09-30/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
materiais-local-2026-09-30/**/*.bcfzip filter=lfs diff=lfs merge=lfs -text
materiais-local-2026-09-30/**/*.ifcZIP filter=lfs diff=lfs merge=lfs -text
materiais-local-2026-09-30/**/*.nwc filter=lfs diff=lfs merge=lfs -text
materiais-local-2026-09-30/**/*.dwg filter=lfs diff=lfs merge=lfs -text
materiais-local-2026-09-30/**/*.xlsx filter=lfs diff=lfs merge=lfs -text
materiais-local-2026-09-30/**/*.docx filter=lfs diff=lfs merge=lfs -text
materiais-local-2026-09-30/**/*.whl filter=lfs diff=lfs merge=lfs -text
materiais-local-2026-09-30/**/*.msi filter=lfs diff=lfs merge=lfs -text
materiais-local-2026-09-30/**/*.7z filter=lfs diff=lfs merge=lfs -text
